DATABASE_URL='mysql://root:ZjP68Ygd@localhost:3306/db'
ISDEBUG=true
NEXTAUTH_URL=http://localhost:3000
STANDALONEMODE=true
GOOGLE_CLIENT_ID='****'
GOOGLE_CLIENT_SECRET='*****'
MAX_FILESIZE=1000
MAX_REQUESTSIZE=1000MB 
UPLOADS_PATH=***
BASE_PATH=