@import "./vars.scss";

.header-content {
  h1 {
    font-family: "Inter", sans-serif;
    font-weight: 900;
  }
}
.home {
  @include pc {
    height: calc(100vh - (#{$headerHeight} + 2px) * 2);
  }

  @include tab {
    height: calc(100vh - (#{$headerHeight} + 2px) * 2);
  }

  @include sp {
    height: auto;
  }

  .sider {
    background-color: #141414;
    height: auto;

    .sider-header {
      padding-top: $defaultSpacing;
      padding-bottom: $defaultSpacing;
      padding-right: $defaultSpacing;
      height: 54px;
      border-right: 1px solid $borderColor;
    }

    .sider-menu .top-menu {
      height: calc(100vh - (#{$headerHeight} + 2px) * 3 - 45px);
      overflow-y: auto;
      overflow-x: hidden;
    }

    .ant-menu {
    }
  }

  .main {
    background-color: #141414;
    padding-left: $defaultSpacing;
    padding-right: $defaultSpacing;

    .ant-tabs-top {
      overflow: visible;
    }

    .markdownview-top {
      .ant-tabs-nav-wrap {
        justify-content: flex-end;
      }
    }

    .preview-top {
      @include pc {
        height: calc(100vh - (#{$headerHeight} + 2px) * 2 - 59px);
        overflow-y: auto;
        overflow-x: hidden;
      }

      @include tab {
        height: calc(100vh - (#{$headerHeight} + 2px) * 2 - 59px);
        overflow-y: auto;
        overflow-x: hidden;
      }

      @include sp {
        height: auto;
        overflow-x: hidden;
      }
    }
    .markdown-view {
      .title-hodler {
        .title-input {
          border: none;
          font-size: 30px;
          font-weight: 600;
        }

        position: relative;

        .delete-btn {
          position: absolute;
          right: 20px;
          top: 30px;
          width: 150px;
        }
      }

      .markdown-input {
        width: 100%;
        height: calc(100vh - (#{$headerHeight} + 2px) * 2 - 61px - 12px - 76px);

        .CodeMirror {
          height: 100%;
        }
      }
    }

    .preview {
      color: #ccc;
      background-color: #141414;
      font-size: 1.2em;
      white-space: pre-wrap;

      hr {
        border-color: $borderColor;
      }
      table {
        border: 1px solid $borderColor;
        td,
        th {
          border: 1px solid $borderColor;
          padding: 10px;
        }
      }

      a,
      a:visited {
        text-decoration: underline;
      }

      abbr[title]:after {
        content: " (" attr(title) ")";
      }

      a[href^="#"]:after,
      a[href^="javascript:"]:after {
        content: "";
      }

      pre,
      blockquote {
        border-left: 2px solid $borderColor;
        page-break-inside: avoid;
        font-size: 1.1rem;
      }

      thead {
        display: table-header-group;
      }

      tr,
      img {
        page-break-inside: avoid;
      }

      img {
        max-width: 100% !important;
      }

      p,
      h2,
      h3 {
        orphans: 3;
        widows: 3;
      }

      h2,
      h3 {
        page-break-after: avoid;
      }
    }

    pre,
    code {
      font-family: Menlo, Monaco, "Courier New", monospace;
      background-color: #141414;
      font-size: 0.8em;
    }

    pre {
      padding: 0.5rem;
      line-height: 1.25;
      overflow-x: auto;
    }

    a,
    a:visited {
      color: #3498db;
    }

    a:hover,
    a:focus,
    a:active {
      color: #2980b9;
    }

    .modest-no-decoration {
      text-decoration: none;
    }

    body {
      line-height: 1.85;
    }

    p,
    .modest-p {
      font-size: 1rem;
      margin-bottom: 1.3rem;
    }

    small,
    .modest-small {
      font-size: 0.707em;
    }

    /* https://github.com/mrmrs/fluidity */

    img,
    canvas,
    iframe,
    video,
    svg,
    select,
    textarea {
      max-width: 100%;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Inter", sans-serif;
    }

    h1 {
      font-size: 1.8rem;
      font-weight: 800;
    }

    h2 {
      font-size: 1.6rem;
      font-weight: 800;
    }

    h3 {
      font-size: 1.4rem;
      font-weight: 700;
    }

    h4 {
      font-size: 1.3rem;
      font-weight: 600;
    }

    h5 {
      font-size: 1.2rem;
      font-weight: 600;
    }

    h6 {
      font-size: 1rem;
      font-weight: 600;
    }

    h1,
    h2,
    h3 {
      margin-bottom: 0.5rem;
      text-align: left;
    }

    blockquote {
      border-left: 8px solid $borderColor;
      padding: 1rem;
    }

    pre,
    code {
      background-color: #141414;
    }
  }

  /* styles for smartphone */

  .sider {
    @include sp {
      position: absolute;
      max-width: 100%;
      width: 100%;
      left: -100vw;
      z-index: 100;
      transition: all 0.5s ease;
      min-height: calc(100vh - (#{$headerHeight} + 2px));
    }
  }

  .sider-menu .top-menu {
    @include sp {
      height: auto;
      min-height: calc(100vh - (#{$headerHeight} + 2px));
      overflow-y: visible;
      overflow-x: hidden;
    }
  }

  .main {
    @include sp {
      z-index: 90;
    }
  }

  .show-sidebar-btn {
    @include sp {
      position: absolute;
      top: 16px;
      left: 16px;
      z-index: 110;
    }
  }
}

/* styles in public mode */
.public {
  .preview {
    padding: $defaultSpacing;
  }

  .sider {
    .sider-menu {
      .top-menu {
        height: calc(100vh - (#{$headerHeight} + 2px) * 2 - 55px);
      }
    }
  }

  .main {
    .preview-top {
      height: calc(100vh - (#{$headerHeight} + 2px) * 1 - 55px);
    }
  }
}
