:root {
  --backgroundColor: #f7f7f7;
  --primaryColor: #191a1b;
  --textColorSecondary: rgba(0, 0, 0, 0.45);
}

$defaultSpacing: 12px;
$headerHeight: 64px;
$borderColor: #303030;

$pc: 1024px; // PC
$tab: 1024px; // tab
$sp: 768px; // smartphone

@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}